<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strzelnica sportowa Snajper strona główna</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<!-- Wstawienie fragmentu nagłówka -->
<div th:replace="fragments/public/header :: header"></div>

<!-- Wstawienie fragmentu menu -->
<div th:replace="fragments/public/menu :: menu"></div>

<div class="banner">
    <h2>Book Your Shooting Lanes Easily</h2>
</div>
<div class="container">
    <div class="news-section">
        <h2>Aktualności</h2>
        <!-- Przykładowe posty aktualności -->
        <div class="news-post">
            <h3>Nowe godziny otwarcia</h3>
            <p>Od przyszłego tygodnia zmieniamy godziny otwarcia. Sprawdź nasze nowe godziny pracy.</p>
            <a href="#">Czytaj więcej</a>
        </div>
        <div class="news-post">
            <h3>Wydarzenie specjalne w tym miesiącu</h3>
            <p>Nie przegap naszego specjalnego wydarzenia w tym miesiącu. Więcej szczegółów wkrótce!</p>
            <a href="#">Czytaj więcej</a>
        </div>
    </div>
</div>
</body>
</html>
